body{
    background-color: rgb(204, 211, 164);
}
img#eu{
    width: 230px;
    height: 350px;
}
header > h1{
    text-align: center;
    font-size: 3em;
}
.apresentacao{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    background-color: aliceblue;
    margin: auto;
    border-radius: 10px;
}
img{
    border-radius: 10px;
}
img:hover{
    transform: scale(110%);
    filter: brightness(90%);
}
