.a{
    
    display:inline-block;
   
    width: 300px;
    height: 200px;
    
    border-radius: 20px;
    
   
}


.div1{
    background-color: red;
}
.div2 {
    background-color: blue;
}
.div3 {
    background-color: green;
}
.a:hover {
    background-color: grey;
    height: 150px;
    width: 250px;
    border-radius: 20px;
}
p{
    margin: auto;
}
.a:active{
    background-color: yellow;
}