@font-face {
    font-family: 'fonte1' ;
    src: url('Hamburg.ttf') format('truetype');
  
}
@font-face {
    font-family:'fonte2' ;
    src: url('love\ story\ ttf.ttf') format('truetype');
}
@font-face {
    font-family: 'fonte3';
    src: url('Thunder\ Kingdom.ttf') format('truetype');
}